<style>
  #nav-logo{
  height: 128px;
  width: 128px;
  margin-top: -40px;
  margin-bottom: -40px;
  margin-left: -25px;
  margin-right: -30px;
  }

  .navItem{
    display: inline-block;
    text-align: center;
  }

  .navItem>a{
    color: black;
  }
</style>

<div class="row" style="max-width: 1340px; margin: 0 auto;">
  <div class="col-2 navItem">
    <a class="ubuntuFont" href="/">Experience</a>
  </div>
  <div class="col-2 navItem">
    <a class="ubuntuFont" href="/">Projects</a>
  </div>
  <div class="col-2 navItem">
    <a class="ubuntuFont" href="/">Extracurriculars</a>
  </div>
  <div class="col-2 navItem">
    <a class="ubuntuFont" href="/">About Me</a>
  </div>
  <div class="col-2 navItem">
    <a class="ubuntuFont" href="/">Résumé</a>
  </div>
  <div class="col-2 navItem">
    <a class="ubuntuFont" href="/">Contact Me!</a>
  </div>
</div>